body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

header {
    background: #1b1b1b;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #e9e9e9;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 6px 12px;
}

nav a.active {
    background: #0077ff;
    color: white;
    border-radius: 6px;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    gap: 20px;
}

main {
    background: rgb(204, 198, 198);
    padding: 20px;
    border-radius: 8px;
}

aside {
    background: rgb(152, 147, 147);
    padding: 20px;
    border-radius: 8px;
}

footer {
    background: #1b1b1b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer a {
    color: #8715bc;
}
/* PHONE (до 480px)*/
@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        gap: 10px;
    }
    .layout {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    aside {
        order: 1; 
    }
    main {
        order: 2; 
    }

    main, aside {
        margin-bottom: 20px;
    }

    body {
        font-size: 16px;
    }
}

/* (481px — 768px)*/
@media (min-width: 481px) and (max-width: 768px) {
    nav ul {
        gap: 15px;
    }

    .layout {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    aside {
        order: 1;
    }

    main {
        order: 2;
    }

    body {
        font-size: 17px;
    }
}

/*SMALL DESKTOP (769px — 1200px)*/
@media (min-width: 769px) and (max-width: 1200px) {
    .layout {
        grid-template-columns: 1.8fr 1fr;
    }

    body {
        font-size: 18px;
    }
}

/* 1201px — 1920px */
@media (min-width: 1201px) and (max-width: 1920px) {
    body {
        font-size: 19px;
    }
    .layout {
        max-width: 1400px;
        margin: 0 auto;
    }
}

/* 1921px+ */
@media (min-width: 1921px) {
    body {
        font-size: 20px;
    }
    .layout {
        max-width: 1600px;
        margin: 0 auto;
    }
}




